[submodule "llm_module"]
	path = llm_module
	url = https://github.com/yzdnaufan/llm-module-rosnav
[submodule "tb3_multi_robot"]
	path = tb3_multi_robot
	url = https://github.com/badriawan/turtlebot3_multi_robot.git
